.box {
  grid-row: 1 / 4;
  grid-column: 2 / 3;

  padding: 20px;
  background-image:  url("../img/sprind-xs.jpg");
 
  background-size: contain;
  background-repeat: no-repeat;
}

.grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  
}

.outside {
  width: 600px;
  height: 600px;
  background-color: blanchedalmond;
}

.inside {
  width: 200px;
  height: 200px;
  background-color: brown;
  padding: 10px;
}